.resource {
    display: flex;
    background: linear-gradient(145deg, #222, #333);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    align-items: center;
    justify-content: center;
    position: relative;
}

.emoji {
    font-size: clamp(24px, 8vw, 30px);
}

.qty {
    font-size: clamp(14px, 3vw, 18px);
    font-weight: bold;
    margin-bottom: 8px;
    color: #ffcc00;
    text-shadow: 2px 2px 8px rgba(255, 204, 0, 0.8);
}

.cost {
    font-size: clamp(12px, 2.5vw, 14px);
    color: white;
    background: grey;
    padding: 0px 4px;
    border-radius: 6px;
    margin-bottom: 0px;
}

.gather-btn:disabled {
    background: #555 !important;
    color: #aaa;
    cursor: not-allowed;
    border: 1px solid #777;
    opacity: 0.6;
}

.gather-btn:hover:not(:disabled) {
    transform: scale(1.05);
}

.progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 6px;
    background: rgba(255, 204, 0, 0.8);
}

.btn-text {
    position: relative;
    z-index: 1;
}

@media (max-width: 360px) {
    .emoji {
        font-size: 20px;
    }
    
    .qty, .cost {
        font-size: 12px;
    }
    
    .gather-btn {
        padding: 4px 8px;
    }
}

.badge {
    position: absolute;
    top: 0px;
    right: -5px;
    background: #ffcc00;
    color: #222;
    font-size: 12px;
    font-weight: bold;
    padding: 3px 6px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.gather-btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: transparent;
    /* background: linear-gradient(to right, #e8ff3b 0%, lightgray 0%); */
    color: white;
    /* border: none; */
    /* padding: 10px; */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
    font-size: 24px;
}

.progress-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5px;
    border-radius: 6px;
    background: rgba(255, 204, 0, 0.8);
    width: 0%;
    transition: width linear;
}
